name: Release
on:
  pull_request:
    branches:
      - main
    types:
      - closed
jobs:
  release:
    name: Release
    if: github.event.pull_request.merged == true
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [16]
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-
      - name: Extract version
        uses: martinbeentjes/npm-get-version-action@master
        id: extract_version
      - name: Create tag
        uses: mathieudutour/github-tag-action@v5
        with:
          custom_tag: ${{ steps.extract_version.outputs.current-version }}
          tag_prefix: v
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: npm install
      - name: Publish
        run: npx can-npm-publish --verbose && npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          registry-url: 'https://npm.pkg.github.com'
          scope: '@jaoafa'
      - name: Publish
        run: npx can-npm-publish --verbose && npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Archive
        run: npm pack
      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          files: jaoafa-jao-ui-${{ steps.extract_version.outputs.current-version }}.tgz
          tag_name: v${{ steps.extract_version.outputs.current-version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
